@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    color: grey;
    font-size: 25px;
  }
  .titulo{
    color: #836FFF;
    font-size: 70px;
  }
  .titulo2{
    color: #FAFAD2;
    font-size: 25px;
    padding: 20px;
  }
    *{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: black;
    font-family: Arial;
}
a{
  color: red;
}
.critico{
    color: red;
    font-size: 50px;
    display: inline-block;
}
.curto{
    font-size: 50px;
    color: green;
    display: inline-block;
}
.doencas{
    color: #7FFFD4;
    font-size: 25px;
    padding: 20px;
}
.img1{
  padding: 5px;
  border-radius: 30px;
}
.site{
  font-size: 50px;
  color: red;
  margin: 30px;
}
.b{
  margin: 10px;
}
ul{
  color: red;
}
